__pycache__/
data/features
data/processed
data/raw
notebooks/
.ruff_cache/
.coverage
htmlcov/
.venv/
.pytest_cache/
mlruns/
Nasa RUL MLE.zip
.DS_Store
*.pyc
*.pyo
.env
.streamlit/secrets.toml

models/*.pt
models/*.pth
models/*.ckpt

*.log